<div class="header-content">
    <mat-toolbar class="header">
        <span class="text-3xl font-bold cursor-pointer" routerLink="">RU.DEV Shop</span>
        <span class="example-spacer"></span>

        <div class="header-items flex gap-2">
                <button matIconButton class="example-icon md:my-0" aria-label="menu icon" routerLink="wishlist">
                    <mat-icon aria-hidden="false" matBadge="{{store.wishListCount()}}" [matBadgeHidden]="store.wishListCount() === 0">favorite</mat-icon>
                </button>
                <button matIconButton class="example-icon md:my-0" aria-label="menu icon" routerLink="my_cart">
                    <mat-icon aria-hidden="false" matBadge="{{store.cartCount()}}" [matBadgeHidden]="store.cartCount() === 0">shopping_cart</mat-icon>
                </button>
                
                @if(store.user(); as user){
                <button matButton class="md:my-0" aria-label="menu icon" [matMenuTriggerFor]="menu">
                    <img [src]="user.imageUrl"  class="w-8 h-8 rounded-full object-cover"/>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="profile">{{user.name}}</button>
                    <button mat-menu-item (click)="store.signOut()">Logout</button>
                </mat-menu>

                }@else {
                    <button matButton class="md:my-0" aria-label="menu icon" (click)="store.loginModalHeader()">
                        Sign in
                    </button>
                    <button matButton="filled" class="md:my-0" aria-label="menu icon" (click)="store.signupModal()">
                        Sign up
                    </button>
                }
        </div>
    </mat-toolbar>
</div>

