.example-spacer {
  flex: 1 1 auto;
}
.header{
    background-color: rgb(231, 231, 231);
    color: oklch(39.8% 0.07 227.392);
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 1480px !important;
    span{
        font-weight: 700;
    }

    
}
.header-content{
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: rgb(231, 231, 231);
    color: oklch(39.8% 0.07 227.392);
}

.burger{
    display: none;
}

@media (max-width: 500px) {
    .burger{
        display: block;
    }
    .header-items{
        width: 100vw;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 50px;
        left: 0;
        background-color: rgb(231, 231, 231);
        padding: 20px;
        display: none;
    }

    .active{
        display: flex;
    }
}