<mat-toolbar class="header bg-blue-500">
  <span class="text-3xl font-bold">RU.DEV Shop</span>
  <span class="example-spacer"></span>

  <div class="header-items flex gap-2">
        <button matIconButton class="example-icon" aria-label="menu icon" routerLink="wishlist">
            <mat-icon>favorite</mat-icon>
        </button>
        <button matIconButton class="example-icon" aria-label="menu icon">
            <mat-icon>shoping_cart</mat-icon>
        </button>
        <button matButton aria-label="menu icon">
            Sign in
        </button>
        <button matButton="filled" aria-label="menu icon">
            Sign up
        </button>
  </div>
   
  
</mat-toolbar>

