.products{
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 1420px !important;
}


.grid-responsive{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 1rem;
}

.active{
    font-size: 24px;
}

.toggle-sidebar{
    cursor: pointer;
}

.side-bar{
    position: fixed;
    top: 65px;
    margin: 15px;
    gap: 10px;
    h2{
        padding: 5px 0;
        font-size: 26px;
    }
    .side-link{
        width: 300px !important;
    }
}

.product-list{
    margin:10px;
    min-height: 100vh;
    height: 100%;
    h1{
        margin: 5px;
        padding: 5px 0;
        
    }
}
