.imprint-section{
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 1420px !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imprint{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 7px;
    margin-left: 20px;
    .title{
        font-size: 32px;
        font-weight: 700;
    }
}

.privacy{
    margin-left: 20px;
    h3{
        font-weight: 600;
        font-size: 18px;
    }
}