@use '@angular/material' as mat;
@use 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Raleway,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
  
}
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, 'Helvetica Neue', sans-serif;
}

.main-content{
  margin: 0 auto !important;
  width: 100% !important;
  max-width: 1480px !important;
}
