.wishlist{
    margin: 20px 50px;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 1480px !important;
}

.grid-responsive{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 1rem;
}

.wishlist-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    color: oklch(39.8% 0.07 227.392);
}

.clear-wishlist{
    color: red;
    border: red 1px solid;
}